---
import { Icon } from 'astro-icon/components'
import { navOptions } from '@constants/navOptions'
import Dropdown from './Dropdown.astro'
import Button from './Button.astro'

const drawerId = 'drawer-navbar'
---

<nav class="navbar drawer drawer-end bg-base-100 px-5">
  <input id={drawerId} type="checkbox" class="drawer-toggle" />
  <div class="navbar-start w-[40%]">
    <slot name="logo" />
  </div>
  <div class="navbar-center gap-2 hidden lg:flex">
    {
      navOptions.map((opt) => {
        if (!opt.subOpts) {
          return (
            <Button
              classIcon="w-5 h-5"
              class="btn-sm"
              href={opt.link}
              icon={opt.icon}>
              {opt.title}
            </Button>
          )
        }
        return (
          <Dropdown
            classContent="p-2 rounded-box"
            modifier="hover"
            classIcon="w-5 h-5"
            classButton="btn-sm"
            icon={opt.icon}>
            <Fragment slot="button">{opt.title}</Fragment>
            <ul slot="content">
              {opt.subOpts.map((subOpt) => {
                return (
                  <li>
                    <Button
                      classIcon="w-5 h-5"
                      class="btn-sm btn-ghost w-full justify-start"
                      href={subOpt.link}
                      icon={subOpt.icon}>
                      {subOpt.title}
                    </Button>
                  </li>
                )
              })}
            </ul>
          </Dropdown>
        )
      })
    }
  </div>
  <div class="navbar-end gap-2 ml-auto">
    <slot name="static-options" />
    <div class="hidden lg:flex lg:gap-2">
      <slot name="user-options" class:list={'hidden'} />
    </div>
    <label for={drawerId} class="btn btn-sm btn-square drawer-button lg:hidden">
      <Icon name="list" size={24} />
    </label>
  </div>
  <div class="drawer-side">
    <label for={drawerId} aria-label="close sidebar" class="drawer-overlay"
    ></label>
    <div class="w-80 min-h-full bg-base-200 text-base-content">
      <div class="navbar flex items-center border-b-2 border-neutral px-5">
        <div class="w-full flex justify-center">
          <slot name="logo" />
        </div>
        <label
          for={drawerId}
          class="drawer-close btn btn-sm btn-square ml-auto drawer-button">
          <Icon name="x" size={24} />
        </label>
      </div>
      <div class="p-5">
        <div class="flex flex-col gap-2 mt-2">
          <slot name="user-options" />
        </div>
      </div>
    </div>
  </div>
</nav>
